global
    maxconn 1000

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen postgres_write
    bind *:5000
    option httpchk GET /leader
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg1 pg1:5432 maxconn 200 check port 8008
    server pg2 pg2:5432 maxconn 200 check port 8008
    server pg3 pg3:5432 maxconn 200 check port 8008
